{% extends 'base.html' %}
{% load semanticui %}

{% block content %}
<div class="ui text container">
  {% if validlink %}
  <form class="ui form" method="POST">
    {% csrf_token %}
    {% render_form form %}
    <button class="ui basic button" type="submit">Speichern</button>
  </form>
  {% else %}
    <p>Dieser Link ist leider nicht mehr gültig. Bitte fordern Sie eine Email mit neuem Link an und versuchen Sie es noch einmal.</p>
    <a href="{% url 'password_reset' %}" class="ui basic button">Neuen Link anfordern</a>
  {% endif %}
</div>
{% endblock %}
