{% extends 'base.html' %}
{% load semanticui %}

{% block content %}
<div class="ui text container">
  {% if validlink %}
  <form class="ui form" method="POST">
    {% csrf_token %}
    {% render_form form %}
    <button class="ui basic button" type="submit">Speichern</button>
  </form>
  {% else %}
    <p>Das hat nicht funktioniert! Vermutlich, weil der Einweg-Link schon einmal genutzt wurde. Bitte versuchen Sie es nochmal, einen neuen Link auf der Webseite anzufordern; wenn dann immer noch etwas falsch ist, schreiben Sie uns eine Mail!</p>
  {% endif %}
</div>
{% endblock %}
