{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}scholarium.at{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/favicons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/favicons/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/favicons/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/favicons/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/favicons/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/favicons/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'images/favicons/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'images/favicons/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'images/favicons/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'images/favicons/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'images/favicons/mstile-310x310.png' %}" />

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    {% endblock head %}
  </head>
  <body>
    <header>
      <div class="ui padded grid" style="background-image: url({% static 'images/scholarium_header_cloud_cut.png' %}); background-repeat: no-repeat;  background-position: center; background-size: inherit;">
        <div class="row">
          {% include 'menus/top.html' %}
        </div>
        <div class="row">
          <a href="{% url 'framework:home' %}" class="ui centered image"><img src="{% static 'images/scholarium_text_white.png' %}"></img></a>
        </div>
        <div class="row"></div>
      </div>
      {% include 'menus/main.html' %}
    </header>
    <div class="ui hidden divider"></div>
    <div class="ui container">
      {% include 'components/messages.html' %}
      <div class="ui hidden divider"></div>
      {% block content %}{% endblock content %}
    </div>
  </body>
  <div style="display:block; height: 10em;">
</html>
