{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}scholarium.at{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'semantic.min.js' %}"></script>
    {% endblock head %}
  </head>
  <body>
    <header>
        <div class="ui hidden divider"></div>
        <div class="ui grid">
          <div class="row">
            {% include 'menus/top.html' %}
          </div>
          <div class="row">
            <img class="ui centered big image" src="{% static 'images/scholarium_text.png' %}"></img>
          </div>
          <div class="ui hidden divider"></div>
          <div class="row">
            {% include 'menus/main.html' %}
          </div>
        </div>
    </header>
    <div class="ui hidden divider"></div>
    <div class="ui text container">
      {% include 'components/messages.html' %}
      {% block content %}{% endblock content %}
      {% block modal %}{% endblock modal %}
    </div>
    <footer>
    </footer>
  </body>
</html>
