{% extends "base.html" %} {% block content %}
<div class="ui text container">
  <div class="ui basic segment">
    <h1 class="ui header centered aligned">Lieder des Mises-Kreises</h1>
    <div class="ui section hidden divider"></div>
    <div class="ui centered card" style="width: 500px">
      <div class="content">
        <div class="ui basic segment">
          <div class="ui list">
            <div class="item">
              01.
              <a
                href="http://www.fortepiano.audio/huw/01%20Geschliffener%20Geist%20im%20Mises-Kreis.mp3"
                >Geschliffener Geist im Mises-Kreis</a
              >
            </div>
            <div class="item">
              02.
              <a
                href="http://www.fortepiano.audio/huw/02%20Untergang%20der%20Konjunktur%20durch%20Erforschung.mp3"
                >Untergang der Konjunktur durch Erforschung
              </a>
            </div>
            <div class="item">
              03.
              <a
                href="http://www.fortepiano.audio/huw/03%20Verstehen%20des%20Verstehens%20in%20Z%fcrich.mp3"
                >Verstehen des Verstehens in Zürich
              </a>
            </div>
            <div class="item">
              04.
              <a
                href="http://www.fortepiano.audio/huw/04%20Der%20letzte%20Grenadier%20der%20Grenznutzenschule.mp3"
                >Der letzte Grenadier der Grenznutzenschule
              </a>
            </div>
            <div class="item">
              05.
              <a
                href="http://www.fortepiano.audio/huw/05%20Die%20Mises-Mayer-Diskussion.mp3"
                >Die Mises-Mayer-Diskussion
              </a>
            </div>
            <div class="item">
              06.
              <a
                href="http://www.fortepiano.audio/huw/06%20Das%20Mises-Kreis-Lied.mp3"
                >Das Mises-Kreis-Lied
              </a>
            </div>
            <div class="item">
              07.
              <a
                href="http://www.fortepiano.audio/huw/07%20Der%20Forscher%20und%20der%20Methodologe.mp3"
                >Der Forscher und der Methodologe
              </a>
            </div>
            <div class="item">
              08.
              <a
                href="http://www.fortepiano.audio/huw/08%20Der%20National%f6konom%20im%20Paradies.mp3"
                >Der Nationalökonom im Paradies
              </a>
            </div>
            <div class="item">
              09.
              <a
                href="http://www.fortepiano.audio/huw/09%20Abschied%20von%20Mr%20Stonier%20und%20Mr%20Sweezy.mp3"
                >Abschied von Mr Stonier und Mr Sweezy
              </a>
            </div>
            <div class="item">
              10.
              <a
                href="http://www.fortepiano.audio/huw/10%20Abschied%20von%20Professor%20Mises.mp3"
                >Abschied von Professor Mises
              </a>
            </div>
            <div class="item">
              11.
              <a
                href="http://www.fortepiano.audio/huw/11%20Klagelied%20des%20Mises-Kreises.mp3"
                >Klagelied des Mises-Kreises
              </a>
            </div>
            <div class="item">
              12.
              <a
                href="http://www.fortepiano.audio/huw/12%20In%20des%20Breisgaus%20holden%20Auen.mp3"
                >In des Breisgaus holden Auen
              </a>
            </div>
            <div class="item">
              13.
              <a
                href="http://www.fortepiano.audio/huw/13%20Traurige%20Prognose.mp3"
                >Traurige Prognose</a
              >
            </div>
            <div class="item">
              14.
              <a href="http://www.fortepiano.audio/huw/14%20Wesensschau.mp3"
                >Wesensschau</a
              >
            </div>
            <div class="item">
              15.
              <a
                href="http://www.fortepiano.audio/huw/15%20Lichtvolle%20Erkenntnis.mp3"
                >Lichtvolle Erkenntnis
              </a>
            </div>
            <div class="item">
              16.
              <a
                href="http://www.fortepiano.audio/huw/16%20Die%20Wahrheit%20der%20transzendentalen%20Methode.mp3"
                >Die Wahrheit der transzendentalen Methode
              </a>
            </div>
            <div class="item">
              17.
              <a
                href="http://www.fortepiano.audio/huw/17%20Drei%20lustige%20Gesellen%20und%20die%20Wahrheit.mp3"
                >Drei lustige Gesellen und die Wahrheit
              </a>
            </div>
            <div class="item">
              18.
              <a
                href="http://www.fortepiano.audio/huw/18%20Sinnest%e4uschung.mp3"
                >Sinnestäuschung</a
              >
            </div>
            <div class="item">
              19.
              <a
                href="http://www.fortepiano.audio/huw/19%20Das%20Ph%e4nomenolog%20hats%20gut.mp3"
                >Das Phänomenolog hats gut
              </a>
            </div>
            <div class="item">
              20.
              <a
                href="http://www.fortepiano.audio/huw/20%20Die%20ph%e4nomenologische%20Reduktion.mp3"
                >Die phänomenologische Reduktion
              </a>
            </div>
            <div class="item">
              21.
              <a
                href="http://www.fortepiano.audio/huw/21%20M%e9ditations%20Cart%e9siennes.mp3"
                >Méditations Cartésiennes
              </a>
            </div>
            <div class="item">
              22.
              <a
                href="http://www.fortepiano.audio/huw/22%20Streit%20um%20die%20Priorit%e4t.mp3"
                >Streit um die Priorität
              </a>
            </div>
            <div class="item">
              23.
              <a
                href="http://www.fortepiano.audio/huw/23%20Die%20reine%20Rechtslehre.mp3"
                >Die reine Rechtslehre
              </a>
            </div>
            <div class="item">
              24.
              <a
                href="http://www.fortepiano.audio/huw/24%20Wissenschaftliche%20Politikberatung.mp3"
                >Wissenschaftliche Politikberatung
              </a>
            </div>
            <div class="item">
              25.
              <a
                href="http://www.fortepiano.audio/huw/25%20Der%20Mathematiker%20und%20der%20Philosoph.mp3"
                >Der Mathematiker und der Philosoph
              </a>
            </div>
            <div class="item">
              26.
              <a
                href="http://www.fortepiano.audio/huw/26%20Antimetaphysisches%20Trutzlied.mp3"
                >Antimetaphysisches Trutzlied
              </a>
            </div>
            <div class="item">
              27.
              <a
                href="http://www.fortepiano.audio/huw/27%20Den%20Methodologen%20ins%20Stammbuch.mp3"
                >Den Methodologen ins Stammbuch
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
