{% extends "base.html" %} {% block content %}
<div class="ui text container">
  <div class="ui basic segment">
    <h1 class="ui header centered aligned">Lieder des Mises-Kreises</h1>
    <div class="ui section hidden divider"></div>
    <div class="ui centered card" style="width: 500px">
      <div class="content">
        <div class="ui basic segment">
          <div class="ui list">
            <div class="item">
              01.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/01+Geschliffener+Geist+im+Mises-Kreis.mp3"
                >Geschliffener Geist im Mises-Kreis</a
              >
            </div>
            <div class="item">
              02.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/02+Untergang+der+Konjunktur+durch+Erforschung.mp3"
                >Untergang der Konjunktur durch Erforschung
              </a>
            </div>
            <div class="item">
              03.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/03+Verstehen+des+Verstehens+in+Z%C3%BCrich.mp3"
                >Verstehen des Verstehens in Zürich
              </a>
            </div>
            <div class="item">
              04.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/04+Der+letzte+Grenadier+der+Grenznutzenschule.mp3"
                >Der letzte Grenadier der Grenznutzenschule
              </a>
            </div>
            <div class="item">
              05.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/05+Die+Mises-Mayer-Diskussion.mp3"
                >Die Mises-Mayer-Diskussion
              </a>
            </div>
            <div class="item">
              06.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/06+Das+Mises-Kreis-Lied.mp3"
                >Das Mises-Kreis-Lied
              </a>
            </div>
            <div class="item">
              07.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/07+Der+Forscher+und+der+Methodologe.mp3"
                >Der Forscher und der Methodologe
              </a>
            </div>
            <div class="item">
              08.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/08+Der+National%C3%B6konom+im+Paradies.mp3"
                >Der Nationalökonom im Paradies
              </a>
            </div>
            <div class="item">
              09.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/09+Abschied+von+Mr+Stonier+und+Mr+Sweezy.mp3"
                >Abschied von Mr Stonier und Mr Sweezy
              </a>
            </div>
            <div class="item">
              10.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/10+Abschied+von+Professor+Mises.mp3"
                >Abschied von Professor Mises
              </a>
            </div>
            <div class="item">
              11.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/11+Klagelied+des+Mises-Kreises.mp3"
                >Klagelied des Mises-Kreises
              </a>
            </div>
            <div class="item">
              12.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/12+In+des+Breisgaus+holden+Auen.mp3"
                >In des Breisgaus holden Auen
              </a>
            </div>
            <div class="item">
              13.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/13+Traurige+Prognose.mp3"
                >Traurige Prognose</a
              >
            </div>
            <div class="item">
              14.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/14+Wesensschau.mp3"
                >Wesensschau</a
              >
            </div>
            <div class="item">
              15.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/15+Lichtvolle+Erkenntnis.mp3"
                >Lichtvolle Erkenntnis
              </a>
            </div>
            <div class="item">
              16.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/16+Die+Wahrheit+der+transzendentalen+Methode.mp3"
                >Die Wahrheit der transzendentalen Methode
              </a>
            </div>
            <div class="item">
              17.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/17+Drei+lustige+Gesellen+und+die+Wahrheit.mp3"
                >Drei lustige Gesellen und die Wahrheit
              </a>
            </div>
            <div class="item">
              18.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/18+Sinnest%C3%A4uschung.mp3"
                >Sinnestäuschung</a
              >
            </div>
            <div class="item">
              19.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/19+Das+Ph%C3%A4nomenolog+hats+gut.mp3"
                >Das Phänomenolog hats gut
              </a>
            </div>
            <div class="item">
              20.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/20+Die+ph%C3%A4nomenologische+Reduktion.mp3"
                >Die phänomenologische Reduktion
              </a>
            </div>
            <div class="item">
              21.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/21+M%C3%A9ditations+Cart%C3%A9siennes.mp3"
                >Méditations Cartésiennes
              </a>
            </div>
            <div class="item">
              22.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/22+Streit+um+die+Priorit%C3%A4t.mp3"
                >Streit um die Priorität
              </a>
            </div>
            <div class="item">
              23.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/23+Die+reine+Rechtslehre.mp3"
                >Die reine Rechtslehre
              </a>
            </div>
            <div class="item">
              24.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/24+Wissenschaftliche+Politikberatung.mp3"
                >Wissenschaftliche Politikberatung
              </a>
            </div>
            <div class="item">
              25.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/25+Der+Mathematiker+und+der+Philosoph.mp3"
                >Der Mathematiker und der Philosoph
              </a>
            </div>
            <div class="item">
              26.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/26+Antimetaphysisches+Trutzlied.mp3"
                >Antimetaphysisches Trutzlied
              </a>
            </div>
            <div class="item">
              27.
              <a
                href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/27+Den+Methodologen+ins+Stammbuch.mp3"
                >Den Methodologen ins Stammbuch
              </a>
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <a
            href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis/Felix+Kaufmann's+Songs+of+the+Miseskreis+2.zip"
            class="ui fluid blue button"
          >
            Album downloaden als .mp3 Datei
          </a>
          <div class="ui hidden divider"></div>
          <a
            href="https://scholariumat-media.s3.eu-central-1.amazonaws.com/Miseskreis.wav/Felix+Kaufmann's+Songs+of+the+Miseskreis+(wav).zip"
            class="ui fluid blue button"
          >
            Album downloaden als .wav Datei
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
