language: python
python: '3.6'
addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10
env:
  - DJANGO_SETTINGS_MODULE=config.settings.test
  - PGPORT=5433
install:
  - pip install -r requirements/test.txt
before_script:
  - wget 'https://github.com/jgm/pandoc/releases/download/2.3/pandoc-2.3-1-amd64.deb' && sudo dpkg -i pandoc-2.3-1-amd64.deb
  - sudo apt-get install -y pandoc pandoc-citeproc
  - psql -c 'create database travis_ci_test;' -U postgres
script:
  - coverage run manage.py test
after_success:
  - coveralls
notifications:
  email:
  - mb@scholarium.at
