{% extends 'base.html' %}
{% load markup_tags %}

{% block title %}Zahlung{% endblock %}

{% block content %}
<div class="ui text container">
  <h1 class="ui centered header">
    {{ donation.method.title }}: {{ donation.amount }}€
  </h1>
  <h3 class="ui header">Referenz: {{ donation.slug|slice:':4' }}</h3>
    <p>{{ donation.method.description|apply_markup:"markdown" }}</p>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button class="ui blue button" type="submit">Bestätigen</button>
    </form>
</div>



{% endblock content %}
