{% extends 'base.html' %}

{% block title %}Zahlung{% endblock %}

{% block content %}
{% if method == 'ueberweisung' %}
  <p>Bitte überweisen Sie {{ request.POST.betrag }}€ auf folgendes Konto:</p>
  <ul>
    <li>scholarium</li>
    <li>Erste Bank, Wien/Österreich</li>
    <li>IBAN: AT27 2011 1827 1589 8503</li>
    <li>BIC: GIBAATWWXXX</li>
  </ul>
  <p><b>Bitte verwenden Sie als Zahlungsreferenz/Betreff die Nummer: {{ nutzer.id }} </b></p>
{% elif method == 'bar' %}
  <p>Bitte schicken Sie uns den gewählten Betrag von {{ request.POST.betrag }}€ in Euro-Scheinen oder im ungefähren Edelmetallgegenwert (Gold-/Silbermünzen) an das scholarium, Schlösselgasse 19/2/18, 1080 Wien, Österreich. Alternativ können Sie uns den Betrag auch persönlich (bitte um Voranmeldung) oder bei einer unserer Veranstaltungen überbringen.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Bestätigen" />
</form>
{% endblock content %}
