{% extends 'base.html' %}
{% load semanticui %}
{% load markup_tags %}

{% block title %}Nutzerprofil{% endblock %}

{% block content %}

<div class="ui fluid card">
  <div class="content">
    <h2 class="ui centered huge header">{{ object.level.title }}</h2>
    <div class="description">
      {{ object.level.description|apply_markup:"markdown" }}
    </div>
    <div class="ui divider"></div>
    {% if object.method %}
    <span class="meta">
      <b>Zahlung ({{ object.method.title }}) von {{ object.amount }}€ am {{ object.date }}</b>
        {% if object.reviewed %}
          <div class="ui icon label">
            <i class="check icon"></i>
            Bestätigt
          </div>
        {% else %}
        <div class="ui label">
          Unbestätigt
        </div>
        {% endif %}
    </span>
    {% endif %}
    <div class="ui right floated image label">
      <i class="clock icon"></i>
      Ablauf
      <div class="detail">
        {{ object.expiration }}
      </div>
    </div>
  </div>
  <a href="{% url 'donations:payment' %}?level={{ object.level.pk }}" class="ui bottom blue attached button">
    Verlängern
  </a>
</div>

{% with request.user.profile as profile %}
{% if profile.donations|length >= 2 %}
<div class="ui hidden divider"></div>
<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Alle Unterstützungen
  </div>
  <div class="content">
    <div class="ui segments">
      {% for donation in profile.donations %}
        <div class="ui clearing segment">
          <span class="ui header">{{ donation.level.title }}</span>
          {% if donation.method %}
            <span class="ui image label">
              {{ donation.method }}
              {% if donation.reviewed %}
                <div class="detail">
                  <i class="fitted check icon"></i>
                </div>
              {% endif %}
            </span>
          {% endif %}
          <div class="ui right floated image label">
            Höhe
            <div class="detail">
              {{ donation.amount }}
            </div>
          </div>
          <div class="ui right floated blue image label">
            {{ donation.date }} - {{ donation.expiration }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
$('.ui.accordion')
  .accordion()
;
</script>

{% endif %}
{% endwith %}
{% endblock content %}
