{% extends 'base.html' %}

{% block title %}Unterstützen{% endblock %}

{% block content %}
<h2>Für Bürger</h2>

{% for level in object_list %}
<table>
  <tr>
    <td rowspan="2">
      <h1>{{ level.title }}</h1>
      <h2>{{ level.amount }} &euro;</h2>
    </td>
    <td>
      <p>{{ stufe.description }}</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="amount" value="{{ level.amount }}">
        <input action="{% url 'donations:payment' %}" method="POST" type="submit" value="Werden Sie jetzt {{ level.title }}">
      </form>
    </td>
  </tr>
</table>
{% endfor %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Auswählen" />
</form>
{% endblock content %}
