<table class="ui large table">
  <thead>
    <tr>
      <th>Veranstaltung</th>
      <th>Datum</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for event in object_list %}
      <tr>
        <td><h4 class="ui header"><a href="{% url 'events:event' event.slug %}">{{ event.title }}</a></h4></td>
        <td class="single line collapsing">{{ event.date }}</td>
        <td class="collapsing single line">{% include 'components/cart_buttons_list.html' with product=event.product %}</td>
      </tr>
    {% endfor %}
  </tbody>

  {% if paginator.num_pages > 1 %}
  <tfoot>
    <tr>
      <th colspan="5">
        <div class="ui right floated pagination menu">
          {% include "components/pagination.html" %}
        </div>
      </th>
    </tr>
  </tfoot>
  {% endif %}

</table>
