{% extends "products/product_detail.html" %}
{% load markup_tags %}
{% load product_tags %}

{% block title %}Veranstaltung{% endblock %}

{% block product %}

  <h1 class="ui header">{{ object.title }}
    <div class="ui sub header">{{ object.type }}</div>
  </h1>
  {% if request.user.is_staff %}
    <a href="{% url 'events:attendances' object.slug %}" class="ui blue button">Teilnehmerliste</a>
  {% endif %}
  {% with object.livestream as livestream %}
  {% if livestream %}
    {% is_accessible request livestream as accessible %}
    {% if accessible %}
      {% if livestream.show %}
        <div class="ui embed" data-url="{{ livestream.link_embedded }}?autoplay=0&showinfo=0&modestbranding=1&rel=0"></div>
        <div class="ui basic segment">
        <div class="ui fluid styled accordion">
          <div class="title">
            <i class="ui dropdown icon"></i>
            Live-Chat
          </div>
          <div class="content">
            <div class="ui embed" style="width:100%" data-url="https://tlk.io/scholarium-{{ object.pk }}"></div>
          </div>
        </div>
      </div>
        <script>
          $('.ui.embed').embed();
          $('.ui.accordion').accordion();
        </script>
      {% else %}
        <div class="ui floating message">Der Livestream erscheint kurz bevor Anfang des Salons an dieser Stelle</div>
      {% endif %}
    {% endif %}
  {% endif %}
  {% endwith %}
  <div class="ui items">
    <div class="item">
      <i class="calendar icon"></i>
      <div class="content">
        {% include "events/components/event_date.html" with object=object %}
      </div>
    </div>
  </div>
  <p>{{ object.description|apply_markup:"markdown" }}</p>

{% endblock product %}
