{% extends "base.html" %}
{% load markup_tags %}

{% block content %}
  <div class="ui text container">
    <h1 class="ui centered header">
      {% block title %}{{ section_title }}{% endblock %}
    </h1>
    {% if not request.user.is_authenticated %}
      <p>{{ object.description|apply_markup:"markdown" }}</p>
    {% endif %}
    <div class="ui hidden divider"></div>

    {% if object_list %}
      {% for event in object_list %}
        <div class="ui basic segment">
          <h2 class="ui centered header">
            <a href="{% url 'events:event' event.slug %}">{{ event.title }}</a>
            <div class="sub header">
                {% include "components/event_date.html" with object=event %}
            </div>
          </h2>
          {% if event.description is not None %}
            {{ event.description|apply_markup:"markdown" }}
          {% endif %}
        </div>
        {% if not forloop.last %}
          <div class="ui section divider"></div>
        {% endif %}
      {% endfor %}
      {% if paginator.num_pages > 1 %}
        <div class="ui hidden section divider"></div>
        <div class="ui right floated pagination menu">
          {% include "components/pagination.html" %}
        </div>
      {% endif %}
    {% else %}
      <div class="ui message">Aktuell sind noch keine weiteren {{ section_title }} geplant.</div>
    {% endif %}

  </div>
{% endblock content %}
