{% load product_tags %}
{% load donation_tags %}
{% load static %}

{% if request.user.is_authenticated %}
{% if product.item_set.all %}
  <div class="ui hidden divider"></div>

  <h2 class="ui header">Formate</h2>
  <div class="ui centered card">
    <div class="content">
      <div class="column">
        {% for item in product.item_set.all %}
          {% if forloop.counter is not 1 %}
            <div class="ui divider"></div>
          {% endif %}
          <div class="row">
            <form id="{{ item.type.title }}_form" method="POST">
              {% csrf_token %}
              <input type="hidden" name="requested_item" value="{{ item.pk }}"/>
            </form>
            <div class="ui labeled button">
              {% amount_accessible request item as accessible %}
              {% is_purchasable request item as purchasable %}

              {% if accessible and item.amount == None %}
                {% if item.attachments %}
                    {% for attachment in item.attachments %}
                    <div class="row">
                      <form target="_blank" id="{{ item.pk }}_{{ forloop.counter0 }}_dlform" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="download" value="{{ item.pk }}">
                        <input type="hidden" name="id" value="{{ forloop.counter0 }}">
                      </form>
                      <a onclick='document.forms["{{ item.pk }}_{{ forloop.counter0 }}_dlform"].submit(); return false;' class="ui small blue icon button">
                        <i class="ui download icon"></i>
                        {{ attachment }}
                      </a>
                    </div>
                    {% endfor %}
                {% else %}
                  <div class="ui disabled button">
                    {{ item.type.title }}
                  </div>
                  <div class="ui grey left pointing label">Bereits erworben</div>
                {% endif %}

              {% elif purchasable %} 
                {% if item.available %}
                  <div onclick='document.forms["{{ item.type.title }}_form"].submit(); return false;' class="ui animated button">
                    <div class="visible content">
                      {{ item.type.title }}
                    </div>
                    <div class="hidden content">
                      <i class="cart icon"></i>
                    </div>
                  </div>
                  <div class="ui basic left pointing label">
                    {{ item.price }}&nbsp;&nbsp;
                    <div style="height: 1em;">
                      <img class="ui image" src="{% static 'images/coin.png' %}" style="height: 1.2em; width: auto; bottom: 0.1em;">
                    </div>
                  </div>

                {% else %}
                  <div class="ui disabled button">
                    {{ item.type.title }}
                  </div>
                  {% if item.type.requestable %}
                    <a onclick='document.forms["{{ item.type.title }}_form"].submit(); return false;' class="ui yellow left pointing label">Anfragen</a>
                  {% else %}
                    <div class="ui grey left pointing label">{{ item.type.unavailability_notice }}</div>
                  {% endif %}
                {% endif %}
                
              {% else %}
                <div class="ui disabled button">
                  {{ item.type.title }}
                </div>
                {% necessary_level item.type.purchasable as level %}
                {% if level %}
                  <a href="{% url 'donations:levels' %}" class="ui grey left pointing label">Verfügbar als {{ level.title }}</a>
                {% else %}
                  <div class="ui grey left pointing label">Nicht verfügbar</div>
                {% endif %}
              {% endif %}
            
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
<script>
$('.ui.sticky')
  .sticky({
    pushing: true
  })
;
</script>
{% endif %}
{% else %}

{% include 'components/registration_form.html' %}
{% endif %}
