{% load product_tags %}
{% load donation_tags %}
{% load static %}

{% with product.item_set.all as items %}
{% if items %}
  <div class="ui list">
    {% for item in items %}
      {% item_status request item as status %}

      {% if status.accessible and item.attachments %}
        <div class="item">
          <div class="ui left labeled button" id="{{ item.pk }}_open">
            <div class="ui right pointing basic label">
              {{ item }}
            </div>
            <div class="ui grey icon button">
              <i class="download icon"></i>
              <div class="ui mini modal" id="{{ item_pk }}_dlmodal">
                <div class="header">{{ item }}</div>
                <div class="content">
                  <form target="_blank" class="ui form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="download" value="{{ item.pk }}">
                    <select name="id" class="ui dropdown">
                      {% for attachment in item.attachments %}
                        <option value="{{ forloop.counter0 }}">{{ attachment.type }}</option>
                      {% endfor %}
                    </select>
                    <script>
                    $('.ui.dropdown')
                      .dropdown()
                    ;
                    </script>
                    <button class="ui button" type="submit">Download</button>
                  </form>
              </div>
              </div>
            </div>
            <script>
              $('#{{ item_pk }}_dlmodal')
                .modal({
                  'duration': 200
                })
                .modal('attach events', '#{{ item.pk }}_open', 'show')
              ;
            </script>
          </div>
        </div>
      {% endif %}

      {% if status.visible %}
        {% if status.purchasability == 'purchasable' %}
          <form id="{{ item.pk }}_form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="requested_item" value="{{ item.pk }}"/>
          </form>
          <div class="item">
            <div onclick='document.forms["{{ item.pk }}_form"].submit(); return false;' class="ui left labeled button">
              <div class="ui basic right pointing label">
                  {{ item }}
              </div>
              {% if request.user.is_authenticated %}
                {% item_price request item as price %}
                <div class="ui animated icon button">
                  <div class="visible content" style="margin-right: 0.8em;">
                    {{ price }}&nbsp;
                    <span style="height: 1em;">
                      <img class="ui image" src="{% static 'images/coin.png' %}" style="display: inline; height: 1.2em; width: auto;">
                    </span>
                  </div>
                  <div class="hidden content">
                    <i class="cart icon"></i>
                  </div>
                </div>
              {% else %}
                <div class="ui animated button">
                  <div class="visible content">
                    {% if item.type.requires_donation %}
                      {% necessary_level item.get_price as level %}
                      {{ level.amount }} €
                    {% else %}
                      {{ item.get_price }} €
                    {% endif %}
                  </div>
                  <div class="hidden content">
                    <i class="cart icon"></i>
                  </div>
                </div>
              {% endif %}
            </div>
            {% if user.is_authenticated and not item.requires_donation %}
            <form method="POST" id="{{ item.pk }}_buyform">
              {% csrf_token %}
              <input type="hidden" name="requested_item" value="{{ item.pk }}"/>
              <input type="hidden" name="buy_directly" value="True"/>
            </form>
            <button onclick='document.forms["{{ item.pk }}_buyform"].submit(); return false;' class="ui top pointing large blue label">
              Direkt buchen für {{ item.get_price }} €
            </button>
            <div class="ui hidden divider"></div>
            {% endif %}
          </div>


        {% elif status.purchasability == 'requestable' %}
          <form id="{{ item.pk }}_form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="requested_item" value="{{ item.pk }}"/>
          </form>
          <div class="item">
            <div class="ui left labeled button" onclick='document.forms["{{ item.pk }}_form"].submit(); return false;' >
              <div class="ui basic right pointing label">
                {{ item }}
              </div>
              <a class="ui button">Anfragen</a>
            </div>
          </div>

        {% else %}
          <div class="item">
          <div class="ui left labeled button">
            <div class="ui basic right pointing label">
              {{ item }}
            </div>

              {% if status.purchasability == 'level required' %}
                {% necessary_level item.type.purchasable_at as level %}
                <a href="{% url 'donations:levels' %}" class="ui disabled button">Verfügbar als {{ level.title }}</a>

              {% elif status.purchasability == 'purchased' %}
                <div class="ui disabled button">Bereits erworben</div>

              {% elif status.purchasability == 'accessible' %}
                <div class="ui disabled button">Bereits verfügbar</div>

              {% elif status.purchasability == 'sold out' %}
                <div class="ui disabled button">Ausverkauft</div>

              {% elif status.purchasability == 'unavailable' %}
                <div class="ui disabled button">Nicht verfügbar</div>

              {% endif %}
            </div>
          </div>

        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endwith %}
