  {% firstof request.GET.seite "1" as current %}
  
  {% if current == "1" %}
    <div class="disabled icon button">
      <i class="left chevron icon"></i>
    </div>
    <span class="current">1</span>
  {% else %}
    <a href="?{% url_replace request 'seite' aktuell|add:'-1' %}">&laquo; zurück</a>
    <a href="?{% url_replace request 'seite' 1 %}" class="current">1</a>
  {% endif %}
  {% if aktuell|add:0 >= 7 %}
    ...
  {% endif %}
  {% for nr in seiten %}
    {% if aktuell|sub:nr|abs < 5 %}
      {% if aktuell == nr|stringformat:"i" %}
      <span class="current">{{ nr }}</span>
      {% else %}
      <a href="?{% url_replace request 'seite' nr %}" class="current">{{ nr }}</a>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if aktuell|sub:anzahl|abs >= 7 %}
    ...
  {% endif %}
  {% if aktuell == anzahl|stringformat:"i" or 'last' == aktuell %}
    <span class="current">{{ anzahl }}</span>
    <span class="disabled">vor &raquo;</span>
  {% else %}
  <a href="?{% url_replace request 'seite' anzahl %}" class="current">{{ anzahl }}</a>
    <a href="?{% url_replace request 'seite' aktuell|add:'1' %}">vor &raquo;</a>
  {% endif %}
