{% load url_tags %}

{% firstof page_obj.number '1' as current %}

{% if current|add:0 >= 3 %}
  <a href="?{% url_replace request 'page' 1 %}">
    <div class="item">1</div>
  </a>
  {% if current|add:0 >= 4 %}
    <div class="disabled item">...</div>
  {% endif %}
{% endif %}

{% if current|add:0 >= 2 %}
  <a href="?{% url_replace request 'page' current|add:'-1' %}">
    <div class="item">{{ current|add:'-1' }}</div>
  </a>
{% endif %}

<div class="active item">{{ current }}</div>

{% if current|add:0 <= paginator.num_pages|add:'-1' %}
  <a href="?{% url_replace request 'page' current|add:'1' %}">
    <div class="item">{{ current|add:'1' }}</div>
  </a>
{% endif %}

{% if current|add:2 <= paginator.num_pages %}
  {% if current|add:3 <= paginator.num_pages %}
    <div class="disabled item">...</div>
  {% endif %}
  <a href="?{% url_replace request 'page' paginator.num_pages %}">
    <div class="item">{{ paginator.num_pages }}</div>
  </a>
{% endif %}
