{% load product_tags %}
<table class="ui large table">
  <tbody>
    {% for product in products %}
    {% items_accessible request product as items %}
      <tr>
        <td>
          <a href="{{ product.type.get_absolute_url }}">{{ product }}</a>
          {% for item in items %}
              <div class="ui label">{{ item.type }}</div>
          {% endfor %}
        </td>
        <td>
          {% include 'components/download_dropdown.html' with product=product %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
