{% load product_tags %}
<table class="ui large table">
  <tbody>
    {% for product, purchases in products.items %}
      <tr>
        <td>
          <a href="{{ product.get_absolute_url }}">{{ product }}</a>
            {% for purchase in purchases %}
                <div class="ui label">{{ purchase.item.type.title }}</div>
            {% endfor %}
        </td>
        <td>
          {% any_attachments_accessible request product.product as attachments %}
          {% if attachments %}
            <a href="{{ product.get_absolute_url }}">
              <i class="download icon"></i>
            </a>
          {% endif %}
        </td>
        {% if livestream_btn %}
          <td class="single right aligned line compact">
            {% with product.product.livestream as livestream %}
            {% if livestream %}
              {% is_accessible request livestream as accessible %}
              {% if accessible %}
                  <a href="{% url 'events:event' product.slug %}"><button class="ui primary button">Zum Video</button>
              {% endif %}
            {% endif %}
            {% endwith %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
