{% extends 'base.html' %}

{% block title %}Warenkorb{% endblock %}

{% block content %}
<div class="ui text container">
  <h1 class="ui centered header">Warenkorb</h1>
  {% if request.user.profile.cart %}
  <table class="ui large table">
    <tbody>
      {% for purchase in request.user.profile.cart %}
        <tr {% if not purchase.available %}class="negative"{% endif %}>
          <td></td>
          <td class="center aligned">
            {% if purchase.item.type.limited %}{{ purchase.amount }}{% endif %}
          </td>
          <td><div class="ui label">{{ purchase.item.type }}</div></td>
          <td>
            {% if not purchase.available %}
              <i id="{{ purchase.pk }}_basket_popup" class="ui red link exclamation circle icon" data-content="Das Produkt ist in der gewünschten Menge nicht verfügbar"></i>
              <script>
                $('#{{ purchase.pk }}_basket_popup')
                  .popup()
                ;
              </script>
            {% endif %}
            <a href="{{ purchase.item.product.type.get_absolute_url }}">{{ purchase.item.product }}</a></td>
          <td class="right aligned">
            {{ purchase.total }}
          </td>
          <td class="center aligned">
            <form id="{{ purchase.pk }}_itemform" action="{% url 'products:basket' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="remove" value="{{ purchase.pk }}">
            </form>
            <a onclick='document.forms["{{ purchase.pk }}_itemform"].submit(); return false;'><i class="ui link times circle outline icon"></i></a>
          </td>
          
        </tr>
      {% endfor %}
      {% if request.user.profile.cart_shipping %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Versand</td>
        <td class="right aligned">{{ request.user.profile.cart_shipping }}</td>
        <td></td>
      </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="right aligned single line"><b><i class="ui bitcoin icon"></i>{{ request.user.profile.cart_total }}</b></th>
        <th><button onclick='document.forms["buy_form"].submit(); return false;' class="ui {% if not request.user.profile.cart_available %}disabled {% endif %} blue right floated button">Kaufen</button></th>
      </tr>
    </tfoot>
  </table>
  <form id="buy_form" action="{% url 'products:basket' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="buy">
  </form>
</div>
  {% else %}
  <div class="ui floating medium message">Zurzeit befinden sich keine Pordukte in Ihrem Warenkorb.</div>
  {% endif %}
</div>
{% endblock content %}
