{% extends 'base.html' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}
<div class="ui text container">
  <h1 class="ui centered header">Bestellungen</h1>
  {% if object_list %}
  <table class="ui large table">
    <tbody>
      {% for purchase in object_list %}
        <tr>
          <td>
            {{ purchase.item.product }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% else %}
    <div class="ui floating medium message">Sie haben noch keine abgeschlossenen oder laufenden Bestellungen.</div>
  {% endif %}
</div>
{% endblock content %}
