{% extends 'base.html' %}

{% block title %}Bestellungen{% endblock %}

{% block content %}
<div class="ui text container">
  <h1 class="ui centered header">Bestellungen</h1>
  <div class="ui hidden divider"></div>
  
  {% if purchases %}

    {% if future_events %}
      <h3 class="ui header">Kommende Veranstaltungen</h3>
      {% include 'components/purchased_product_list.html' with products=future_events livestream_btn=True %}
    {% endif %}
          
    {% if past_events %}
      <div class="ui styled fluid accordion">
        <div class="title"><i class="dropdown icon"></i>Vergangene Veranstaltungen</div>
        <div class="content">
          {% include 'components/purchased_product_list.html' with products=past_events %}
        </div>
      </div>
      
    {% endif %}
    
    {% if digital_content %}
      <h2 class="ui header">Digitale Inhalte</h2>
      {% include 'components/purchased_product_list.html' with products=digital_content %}
    {% endif %}
    
    {% if purchases %}
      <div class="ui styled fluid accordion">
        <div class="title"><i class="dropdown icon"></i>Alle Käufe</div>
        <div class="content">
    
    <table class="ui table">
      <tbody>
          {% for purchase in purchases %}
            <tr>
              <td class="single line">{% if purchase.date %}{{ purchase.date }}{% endif %}</td>
              <td class="center aligned">
                {% if purchase.amount > 1 %}{{ purchase.amount }}{% endif %}
              </td>
              <td><div class="ui label">{{ purchase.item.type }}</div></td>
              <td>
                {{ purchase.item.product }}
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
    {% endif %}

  {% else %}
  <div class="ui floating medium message">Sie haben noch keine abgeschlossenen oder laufenden Bestellungen.</div>
  {% endif %}
</div>

</div>
<script>
$('.ui.accordion')
  .accordion()
;
</script>
{% endblock content %}
