{% extends 'base.html' %}
{% load product_tags %}

{% block title %}Bestellungen{% endblock %}

{% block content %}
<div class="ui text container">
  <h1 class="ui centered header">Bestellungen</h1>
  
  {% if purchases %}

    {% if future_events %}
      <h3 class="ui header">Kommende Veranstaltungen</h3>
      {% include 'components/purchased_product_list.html' with products=future_events %}
    {% endif %}
          
    {% if past_events %}
      <div class="ui styled fluid accordion">
        <div class="title"><i class="dropdown icon"></i>Vergangene Veranstaltungen</div>
        <div class="content">
          {% include 'components/purchased_product_list.html' with products=past_events %}
        </div>
      </div>
      <script>
      $('.ui.accordion')
        .accordion()
      ;
      </script>
    {% endif %}
    
    {% if digital_content %}
      <h2 class="ui header">Digitale Inhalte</h2>
      {% include 'components/purchased_product_list.html' with products=digital_content %}
    {% endif %}
    
    {% if rest %}
    <h2 class="ui header">Restliche Käufe</h2>
    <table class="ui table">
      <tbody>
          {% for purchase in rest %}
            <tr>
              <td></td>
              <td class="center aligned">
                {% if purchase.item.type.limited %}{{ purchase.amount }}{% endif %}
              </td>
              <td><div class="ui label">{{ purchase.item.type }}</div></td>
              <td>
                {{ purchase.item.product }}
              </td>
              <td></td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
    {% endif %}

  {% else %}
  <div class="ui floating medium message">Sie haben noch keine abgeschlossenen oder laufenden Bestellungen.</div>
  {% endif %}
</div>

</div>
{% endblock content %}
