<div class="ui big attached menu">
  <div class="ui container">
    <a href="{% url 'blog:list' %}"  class="item">
      Scholien
    </a>
    <a href="{% url 'library:list' %}" class="item">
      Bibliothek
    </a>
    <a href="{% url 'events:type' 'salon' %}" class="item">
      Salons
    </a>
    <a href="{% url 'events:type' 'seminar' %}" class="item">
      Seminare
    </a>
    <a href="{% url 'events:type' 'studium' %}" class="item">
      Studium
    </a>
    <a href="{% url 'donations:levels' %}" class="right item">
      <b>Unterstützen</b>
    </a>
  </div>
</div>
