<div class="ui container">

  {% if request.user.is_authenticated %}  
    <div class="ui right floated compact menu">
      <div class="ui floating top left pointing dropdown icon item">
        <i class="shop icon"></i>
        <div class="menu items" style="min-width: 10em;">
          <h2 class="header">Warenkorb</h2>
          {% for purchase in request.user.profile.cart %}
          <div class="ui item">
            <div class="content">
              
                <div class="header">{{ purchase.item.title }}</div>
                <div class="meta">
                  <span class="right floated">{{ purchase.amount }}</span>
                  <span>{{ purchase.total }}</span>
                </div>
                <div class="description">
                  <p>{{ purchase.item.description }}</p>
                </div>
              
            </div>
          </div>
          {% endfor %}
          {% if request.user.profile.cart_shipping %}
            <div class="divider"></div>
            Versand: {{ request.user.profile.cart_shipping }}
          {% endif %}
          <div class="divider"></div>
            {{ request.user.profile.cart_total }}
          <div class="divider"></div>
          <a class="item" href="{% url 'users:profile' %}">Kaufen</a>
        </div>
      </div>
      <div class="item">
        <span class="text">
          {{ request.user.profile.balance }}
          <i class="fitted bitcoin icon"></i>
        </span>
        <a href="{% url 'donations:levels' %}">
          <div class="ui tiny circular yellow floating label">
            <i class="fitted plus link icon"></i>
          </div>
        </a>
      </div>
    </div>

    <div class="ui right floated compact menu" id="profile">
      <a class="item">
        {{ request.user }}
        <i class="dropdown icon"></i>
      </a>
    </div>
    <div class="ui popup">
      <div>
      
      {% if request.user.profile.level %}
        <a class="ui yellow right ribbon label" href="{% url 'donations:detail' %}">
          <i class="university icon"></i>
          {{ request.user.profile.level.title }}
        </a>
      {% endif %}
      
      <!-- <span class="ui item"> -->
        {% if request.user.profile.name %}
          <h3 class="ui center aligned header">
            <div class="content">
              {{ request.user.profile.name }}
              {% if request.user.profile.organization %}
                <div class="sub header">
                  {{ request.user.profile.organization }}
                </div>
              {% endif %}
            </div>
          </h3>
        {% endif %}
      </div>
      <!-- </span> -->
      <div class="ui hidden divider"></div>
  
      <div class="ui vertical fluid menu">
        <div class="item" href="{% url 'users:profile' %}">Profil bearbeiten</div>
        <div class="item" href="{% url 'users:profile' %}">Email-Adresse ändern</div>
        <div class="item" href="{% url 'users:profile' %}">Passwort ändern</div>
        <div class="item" href="{% url 'users:profile' %}">Unterstützungen</div>
        <div class="item" href="{% url 'users:profile' %}">Ausloggen</div>
      </div>

      <div class="ui menu">
        <a class="item" href="{% url 'donations:levels' %}">Unterstützen</a>
        <a class="item" href="{% url 'users:profile' %}">Bestellungen</a>
        <div class="divider"></div>
        <a class="item" href="{% url 'logout' %}">Ausloggen</a>
      </div>
    </div>

    {% if request.user.is_staff %}
      <div class="ui right floated compact menu">
        <a href="{% url 'admin:index' %}" class="item">Admin</a>
      </div>
    {% endif %}

  {% else %}
    <div class="ui right floated small compact menu">
      <a class="login_open item">Anmelden</a>
      <a class="register_open item">Eintragen</a>
    </div>

    <div class="ui tiny login modal">
      <div class="header">Anmelden</div>
      <div class="content">
        <form id="login_form" method="post" class="ui form" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="field">
            <div class="ui left icon input">
              <input type="email" name="username" placeholder="Email">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="password" name="password" placeholder="Passwort">
              <i class="lock icon"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="actions">
        <button class="ui left floated button" form="login_form" type="submit">Anmelden</button>
        Sie haben noch keinen Zugang?
        <button class="ui register_open button">Eintragen</button>
      </div>
    </div>

    <div class="ui tiny register modal">
      <div class="header">Eintragen</div>
      <div class="content">
        <form id="register_form" method="post" class="ui form" action="{% url 'users:signup' %}">
          {% csrf_token %}
          <div class="field">
            <div class="ui left icon input">
              <input type="email" name="email" placeholder="Email">
              <i class="user icon"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="actions">
        <button class="ui left floated button" form="register_form" type="submit">Eintragen</button>
        Sie sind bereits eingetragen?
        <button class="ui login_open button">Anmelden</button>
      </div>
    </div>
    <script>
      $('.tiny.login.modal')
        .modal('attach events', '.login_open', 'show')
      ;
      $('.tiny.register.modal')
        .modal('attach events', '.register_open', 'show')
      ;
    </script>
  {% endif %}
</div>
<script>
  $('.ui.dropdown').dropdown({action: 'nothing'});
  $('#profile')
    .popup({
      on: 'click'
    });
</script>
